.app{
    display: flex;
}
.today-card{
    height: 100vh;
    width: 25%;
    background-color: #1E213A;
    display: flex;
    flex-direction: column;
}
.det-card{
    width: 75%;
    height: 100vh;
    background-color:  #100E1D;;
}
.cloud-back{
    opacity: 10%;
}
img{
    width: 100%;
    height: 100%;
}
.icon-container{
    position: relative;
    width: 100%;
}
.weather-con{
    width: 40%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 30%;
}
.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15%;
    font-size: 48px;
}
.font-col{
    color:  #E7E7EB; 
}
.desc{
    margin-top: 15%;
}
.today-date{
    color: #88869D;
    display: flex;
    gap: 10px;
    margin-top: 15%;
}
.det-card{
    padding: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fiveDay-con{
    width: 100%;
    gap: 20px;
    align-items: start !important;
}

.day-card{
    background-color: #1E213A;
    width: 17%;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    flex-direction: column;
    gap: 15%;
}
.days-img{
    width: 50%;
    height: 40%;
}

.days-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
}
.min-col{
    color: #A09FB1;
}
.high-container{
    display: flex;
    flex-wrap: wrap;
}
.high-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 70px 20px 70px;
    align-items: center;
    background-color: #1E213A;
    
}
.big-fnt{
    font-size: 56px;
}
.loc-icon{
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    transform: rotate(-150deg);
    border-radius: 50%;
}