.app{
    display: flex;
}
.today-card{
    height: 100vh;
    width: 25%;
    background-color: #1E213A;
    display: flex;
    flex-direction: column;
}
.det-card{
    width: 75%;
    height: 100vh;
    background-color:  #100E1D;;
}
.cloud-back{
    opacity: 10%;
}
img{
    width: 100%;
    height: 100%;
}
.icon-container{
    position: relative;
    width: 100%;
}
.weather-con{
    width: 40%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 30%;
}
.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15%;
    font-size: 48px;
}
.font-col{
    color:  #E7E7EB; 
}
.desc{
    margin-top: 15%;
}
.today-date{
    color: #88869D;
    display: flex;
    gap: 10px;
    margin-top: 15%;
}
.det-card{
    padding: 5%;
}

.fiveDay-con{
    width: 100%;
    height: 100vh;
    gap: 20px;
    align-items: start !important;
}

.day-card{
    background-color: #1E213A;
    width: 15%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}